@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');	
*{
	font-family: 'Montserrat', sans-serif;
}
.bg_azul{
    background-color: brown;
}

.text_white{
    color: azure;
    text-decoration: none;
}
.text_black{
    color: black;
}

.mt_0{
    margin-top: 0px;
}

.nav-item a:hover{
    color: grey;
}

.bg_color_verdeclaro{
    background-color: #D8FFDB;
}

.bg_grenndark{
    background-color: #244D06;
}

#logo{
    width: 20%;
    height: 20%;
}

.t_110{
    height: 110%;
    width: 110%;
}