@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');	
*{
	font-family: 'Montserrat', sans-serif;
}
.bg_azul{
    background-color: brown;
}

.text_white{
    color: azure;
    text-decoration: none;
}
.text_black{
    color: black;
}

.mt_0{
    margin-top: 0px;
}

.nav-item a:hover{
    color: grey;
}

.bg_color_nav{
    background-color: #AAFFF4;
}

.bg_head{
    background-color: #36B1BF;
    border: #36B1BF;
}
.bg_head:hover{
    background-color: #236E8C;
    border: #36B1BF;
}

#logo{
    width: 20%;
    height: 20%;
}

.t_110{
    height: 110%;
    width: 110%;
}

.myActive{
    background-color: #236E8C;
}

.static{
    position: sticky;
    position: relative;
    top: 40px
}